.light {
  .header {
    background-color: #fd8617;
    padding: 1rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 700px) {
      padding-top: 0.31rem;
    }
  }
  // .lang_dropdown {
  //   z-index: 999;
  //   .dropdown-menu {
  //     z-index: 9;
  //   }
  // }
}
