.dark {
  .btn:focus,
  .btn-check:focus,
  .btn-primary:focus,
  .btn-primary:focus,
  a:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  form .form-control:focus {
    //   border-color: #0d6efd;
    box-shadow: none !important;
  }

  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none !important;
  }
}
